{% extends 'store/layout/main.html' %}
{% block content %}
{% include 'store/inc/slider.html' %}


<div class="container my-3">
    <div class="row">
        <div class="col-md-12">
            <h2>Trending Products</h2>
            <hr>
            <div class="row owl-carousel owl-theme">
                {% for item in trending_products %}
                <div class="product_data item">
                    <div class="card m-1">
                        <a href="{% url 'productview' item.category.slug item.slug %}">
                            <div class="card-body">
                                <div class="category-image">
                                    <img style="height: 180px; width: 180px;" src="{{item.product_image.url}}"
                                        alt="Categaory Image" class="w-100">
                                </div>
                                <h4 class="text-center">{{item.name}}</h4>
                        </a>
                        <span class="float-start text-dark">{{item.selling_price}}</span>
                        <br>
                        <div class="row mt-2">
                            <div class="col-md-6">
                                {% csrf_token %}
                                <input type="hidden" class="prod_id" value="{{ item.id }}">
                                <div class="input-group text-center mb-3">
                                    <button class="input-group-text decrement-btn" style="width:13opx;">-</button>
                                    <input type="text" name="quantity" class="form-control qty-input text-center"
                                        value="1">
                                    <button class="input-group-text increment-btn" style="width:13opx;">+</button>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <span class="mb-2">
                                    {% if item.quantity > 0 %}
                                    <button class="btn btn-primary me-3 float-start badge py-2 addToCartBtn">Add to cart
                                        <i class="fa fa-shopping-cart"></i></button>
                                    {% else %}
                                    <button class="btn btn-danger me-3 badge float-start disabled">Out Of Stock</button>
                                    {% endif %}
                                </span>
                            </div>
                        </div>


                    </div>

                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
</div>
{% endblock content %}

{% block scripts %}

<script>

    $('.owl-carousel').owlCarousel({
    loop:true,
    margin:10,
    dots:false,
    nav:true,
    responsive:{
        0:{
            items:1
        },
        600:{
            items:3
        },
        1000:{
            items:4
        }
    }
})
</script>

{% endblock scripts %}